<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Contraseña cambiada correctamente</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        h1 {
            font-size: 3em;
            text-align: center;
            color: #333;
        }

        @media screen and (max-width: 768px) {
            h1 {
                font-size: 2em;
            }
        }
    </style>
</head>
<body>
<h1>Contraseña cambiada correctamente</h1>
</body>
</html>
