<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block stylesheets %}
        {{ encore_entry_link_tags('byCategories') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('byCategories') }}
    {% endblock %}
    <style></style>
</head>
<body class="bg-[#2892d7]">
<div id="categories" >
    <by-categories :post="{{ posts|json_encode }}" :categories="{{ category|json_encode }}" ></by-categories>
</div>
</body>

</html>