<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rastro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="../../metroPlans/logo.svg" type="image/svg+xml">
    {% block stylesheets %}
        {{ encore_entry_link_tags('appTwo') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('appTwo') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}

</body>
</html>
